/*
Helper classes. Si utilizzano nell'editor dei post di Wordpress
---------------------------------------------------------------------------------------------------- */

//* Padding

.pvs {
	padding: $padding-small 0;
	overflow: auto;

}

.pvm {
	padding: $padding-medium 0;
	overflow: auto;

}

.pvl {
	padding: $padding-large 0;
	overflow: auto;

}

.pvxl {
	padding: $padding-xlarge 0;
	overflow: auto;

}

.phl {
	padding: 0 $padding-large;
	overflow: auto;

}

.phm {
	padding: 0 $padding-medium;
	overflow: auto;
}

.phs {
	padding: 0 $padding-small;
	overflow: auto;
}

.pl {
	padding: $padding-large;
	overflow: auto;
}

.pm {
	padding: $padding-medium;
	overflow: auto;

}

.ps {
	padding: $padding-small;
	overflow: auto;
}

.ptl {
	padding-top: $padding-large;
	overflow: auto;
}

.nopad {
	padding: 0;
}


//* Permettono di spaziare le sezioni e i container (da completare com per i padding)
.mvs {
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: auto;
}

.mvm {
	margin-bottom: 40px;
	margin-top: 40px;
	overflow: auto;
}

.mvl {
	margin-bottom: 80px;
	margin-top: 80px;
	overflow: auto;
}


//* Spacer

.spacer-small {
    margin: 20px auto;
}

.spcer-medium, ,.spacer, .separator {
    margin: 40px auto;
}

.spacer-large {
    margin: 60px auto;
}

//* Arranger

.center, .align-center {
	text-align: center;
}

.right, .align-right {
	text-align: right;
}


//* Colors

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.bk-color1 {
	background-color: $color1;
}

.bk-color2 {
	background-color: $color2;
}

.bk-color3 {
	background-color: $color3;
}

.bk-color4 {
	background-color: $color4;
}

.red {
	color: $red;
} 

.green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.orange {
	color: $orange ;
}

.blue, .blu {
	color: $blue;
}

.black {
	color: #000;
}

.white {
	color: #FFF;
}

.bk-red {
	background-color: $red;
} 

.bk-green {
	background-color: $green;
}

.bk-yellow {
	background-color: $yellow;
}

.bk-orange {
	background-color: $orange ;
}

.bk-blue {
	background-color: $blue ;
}

.bk-black {
	background-color: #000;
}

.bk-white {
	background-color: #FFF;
}


//* Sfondi demo

.background-1 {
	background: url('./images/background-1.jpg');
}

.background-2 {
	background: url('./images/background-2.jpg') repeat;
}

.polygon-green {
	background: url("./images/polygon-green.jpg") repeat;
	background-size: cover;
}

.polygon-blue {
	background: url("./images/polygon-blue.jpg") repeat;
	background-size: cover;
}

.polygon-red {
	background: url("./images/polygon-red.jpg") repeat;
	background-size: cover;
}

.polygon-yellow {
	background: url("./images/polygon-yellow.jpg") repeat;
	background-size: cover;
}

.polygon-purple {
	background: url("./images/polygon-purple.jpg") repeat;
	background-size: cover;
}

//* Gradienti
.gradient {
	@include gradient();
}

.gradient-text {
	@include gradient-text();
}

//* Hero
.hero {
	background: url('./images/hero.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 15% 0;
	@include overlay();		
}

//* Testo

.fancy-text-1 {
	@include fancy-text-1();
}

.fancy-text-2 {
	@include fancy-text-2();
}

.text-light, .color-light {
	color: $color-light !important;
}

.text-dark, .color-dark {
	color: $color-dark !important;
}

.uppercase {
	text-transform: uppercase;
}

.text-xsmall {
	font-size: $text-xsmall;
}

.text-small {
	font-size: $text-small;
}

.text-medium {
	font-size: $text-medium;
}

.text-large {
	font-size: $text-large;
}

.text-xlarge {
	font-size: $text-xlarge;
}

.text-xxlarge {
	font-size: $text-xxlarge;
}

.text-columns {
	text-align: justify;
	/*
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	*/
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	-webkit-column-width: 9em;
	-moz-column-width: 9em;
	column-width: 18em;
}

//* Ombre

.drop-shadow {
	@include drop-shadow();
}

.text-shadow-dark {
	@include text-shadow-dark();
}

.text-shadow-light {
	@include text-shadow-light();
}

//* Aligner se assegnato a una section permette di allinearne verticalmente il contenuto
//* display:flex non permette alle colonne di collassare su schermi piccoli,
//* per cui la rendo funzionante in corrispondenza di colonne ancora non collassate
@media only screen and (min-width: 666px) {

	.aligner {
		display:flex;
		align-items:center;
	}

}