/*
 * Mixins (Theme+WooCommerce)
---------------------------------------------------------------------------------------------------- */

//* Ombra per i vari riquadri (Usata da WooCommerce)
@mixin box-shadow() {
	box-shadow: $box-shadow;
}

//* Ombra più marcata
@mixin drop-shadow() {
-webkit-box-shadow: 0 35px 50px rgba(0, 0, 0, .25);
box-shadow: 0 35px 50px rgba(0, 0, 0, .25);
}

//* Bordi
@mixin border() {
	border: $border;	
}

@mixin border-top() {
	border-top: $border;	
}

@mixin border-bottom() {
	border-bottom: $border;	
}


/* Gradient and overlay */

$gradient-start:   #7A28FF !default;
$gradient-end:  #00A1FF !default;

//* Overlay
@mixin overlay {
    position: relative;
    * {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: $overlay-opacity;
        background: mix($overlay-start, $overlay-end);
        background: linear-gradient($overlay-angle, $overlay-start 0%, $overlay-end 100%);
    }
}

//* Gradient
@mixin gradient {
    background: mix($gradient-start, $gradient-end);    
    background: linear-gradient($gradient-angle, $gradient-start 0%, $gradient-end 100%);
}

//* Gradient Text
@mixin gradient-text {
   color: mix($gradient-text-start, $gradient-text-end);
    background: linear-gradient($gradient-text-angle, $gradient-text-start, $gradient-text-end);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

@mixin fancy-text-1 {
    background: linear-gradient(to right, #66FF66 0%, #FFFF66 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin fancy-text-2 {
    background: linear-gradient(to right, #f25ce4 0%, #6959c9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}