/*
Poppy Elements
---------------------------------------------------------------------------------------------------- */

$icon-color: #1abc9c !default;
$secondary-color: #555 !default;
$color-light: #fff !default;
$color-dark: #333 !default;


.entry-content .poppy {
	
	ul {
		margin: 0;
	}

	li, .entry-content ul > li {
		list-style-type: none !important;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0rem;
	}

}


//* Element li row
li.ordrered-list-2:nth-of-type(2n+1), 
li.ordrered-list-3:nth-of-type(3n+1), /* select every 3 item starting from 1 */
li.ordrered-list-4:nth-of-type(4n+1),
li.ordrered-list-5:nth-of-type(5n+1),
li.ordrered-list-6:nth-of-type(6n+1) { 
    clear: both;
    margin-left: 0;
}

.poppy-element-li-row {	
	
	ul {
		margin: 0;
	}

}


//* Featured Info
.poppy-featured-info {
}


//* Icon Box
.poppy.poppy-icon-box {
	text-align: center;
	padding: 10px;
	
	div {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.fa {
		color: $icon-color;		
	}
	
	h3 {
		margin: 1rem auto;		
		color: $secondary-color;
	}

	h3 {
		color: $color-light !important;
	}
	
	h4 {
		font-weight: normal;		
		color: $secondary-color;
	}

	&.text-light,
	&.color-light {

		h3, h4 {
			color: $color-light !important;
		}

	}

	&.text-dark,
	&.color-dark {

		h3, h4 {
			color: $color-dark !important;
		}

	}

	&.icon-gradient {

		.fa {
			color: transparent;
			@include text-gradient();		
		}
		
	}

}




//* Home News Type 1
.home-news {	

		span {
			position: relative;
			top: 30px;
			left: 0;
			color: #FFF;
			background: $primary-color;
			padding: 4px;
			font-size: 1.6rem;
		}		

		img {
			margin-bottom: -10px;
			width: 768px;
			height: auto;
		}

		p {
			font-size: 1.6rem;
			line-height: 1.5;
		}			

			h3 {
				text-transform: uppercase;
				font-size: 1.8rem;
				height: 6rem;
				background: $primary-color;
				padding: 10px;
				margin: 0;
				text-align: center;
				
				a {
					color: #fff;
					text-decoration: none;
					vertical-align: text-top;
					
					&:hover {
						color: #ccc;
					}
				}	
				
			}

		}

// Home News Type 2
.home-news-2 { 

	li > div {
		border-radius: 4px;
		-webkit-box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
		-moz-box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
		box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
		background: #fff;
		display: block;
	}

	.label {
		display: block;
		float: left;
		//height: 20px;		
		border-radius: 2px;
		padding: 0px 15px 0px 15px;    
		font-size: 1.3rem;
		font-size: 13px;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		z-index: 10;
		background: $icon-color;
		text-overflow: ellipsis;
		overflow: hidden;
		margin: -9px 0 0 20px;
		position: absolute;
	}

	span {
		position: relative;
		top: 29px;
		left: 0;
		color: #FFF;
		background: $icon-color;
		padding: 4px;
		font-size: 1.5rem;
		font-size: 15px;
		overflow: hidden;
	}		

	img {		
		border-bottom-width: 3px;
		border-bottom-style: solid;
		border-radius: 4px 4px 0px 0px;
		border-color: $icon-color;
	}				

	h3 {        				
		font-size: 1.8rem;
		font-size: 18px;				
		padding: 10px;
		margin: 0;
		background: #fff;
		
		a {
			color: $title-color;
			text-decoration: none;
			vertical-align: -webkit-baseline-middle;
			
			&:hover {
				color: #ccc;
			}

		}
		
	}

}