.title-area.one-third,
.site-header .widget-area.one-third {
    width: 31.623931623931625%;
    float: left;
}

.header-middle {
    margin-top: 20px;
}
 
.header-middle .widget:last-child {
    margin-bottom: 0;
}
 
.site-header .search-form {
    float: none;
    width: auto;
    max-width: 250px;
}
 
.header-widget-area {
    margin-top: 20px;
}

.wp-custom-logo .site-title > a {
    text-align: center;
}
 
@media only screen and (max-width: 1023px) {
 
    .title-area.one-third,
    .header-middle,
    .site-header .widget-area.one-third {
        width: 100%;
        margin-left: 0;
    }
 
    .header-widget-area.one-third {
        margin-top: 10px;
    }
 
    .header-widget-area .simple-social-icons ul.alignright {
        float: none;
        display: table;
        margin: 0 auto;
    }
 
}