/*
Poppy Framework v 1.2
Developed by Active Net
Changelog:
v1.2
* Now includes sections and parallax effect
---------------------------------------------------------------------------------------------------- */
/* ### Gradient and overlay */
/* ### Gradient */
/* ### Gradient Text */
.pvs {
  padding: 20px 0; }

.pvm {
  padding: 50px 0; }

.pvl {
  padding: 100px 0; }

.phl {
  padding: 0 100px; }

.phm {
  padding: 0 50px; }

.phs {
  padding: 0 20px; }

.pl {
  padding: 100px; }

.pm {
  padding: 50px; }

.ps {
  padding: 20px; }

.gut-20 {
  margin-bottom: 20px;
  margin-top: 20px; }

.gut-40 {
  margin-bottom: 40px;
  margin-top: 40px; }

.red {
  background: #e74c3c; }

.green {
  background: #2ecc71; }

.yellow {
  background: #f1c40f; }

.orange {
  background: #f39c12; }

a.button-dark {
  background-color: #333;
  color: #fff; }
  a.button-dark:hover {
    background-color: #fff;
    color: #333 !important; }

a.button-light {
  background-color: #fff;
  color: #333; }
  a.button-light:hover {
    background-color: #333;
    color: #fff !important; }

.background-1 {
  background: url("images/background1.jpg"); }

.gradient-1 {
  background: linear-gradient(to bottom, #aaa, #eee); }

.gradient-2 {
  background: #3d65ff;
  background: -moz-linear-gradient(left, #7A28FF 0%, #00A1FF 100%);
  background: -webkit-linear-gradient(left, #7A28FF 0%, #00A1FF 100%);
  background: linear-gradient(to right, #7A28FF 0%, #00A1FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a28ff', endColorstr='#00a1ff', GradientType=1); }

.aligner {
  display: flex;
  align-items: center; }

/* ## Column Classes Extended (no margin)
--------------------------------------------- */
.five-sixths.ext,
.four-sixths.ext,
.one-fourth.ext,
.one-half.ext,
.one-sixth.ext,
.one-third.ext,
.three-fourths.ext,
.three-sixths.ext,
.two-fourths.ext,
.two-sixths.ext,
.two-thirds.ext {
  float: left;
  margin-left: 0; }

.one-half.ext,
.three-sixths.ext,
.two-fourths.ext {
  width: 50%; }

.one-third.ext,
.two-sixths.ext {
  width: 33.33%; }

.four-sixths.ext,
.two-thirds.ext {
  width: 66%; }

.one-fourth.ext {
  width: 25%; }

.three-fourths.ext {
  width: 75%; }

.one-sixth.ext {
  width: 16.66%; }

.five-sixths.ext {
  width: 83.33%; }

.text-light {
  color: #fff; }

.text-dark {
  color: #fff; }

/* Poppy Helper Classes v1.0
--------------------------------------------- */
.spacer-small {
  margin: 20px auto; }

.spcer-medium, .spacer, .separator {
  margin: 40px auto; }

.spacer-large {
  margin: 60px auto; }

.center, .align-center {
  text-align: center; }

.right, .align-right {
  text-align: right; }

.poppy ul {
  margin: 0; }

.poppy li, .poppy .entry-content ul > li {
  list-style-type: none !important; }

li.ordrered-list-2:nth-of-type(2n+1),
li.ordrered-list-3:nth-of-type(3n+1),
li.ordrered-list-4:nth-of-type(4n+1),
li.ordrered-list-5:nth-of-type(5n+1),
li.ordrered-list-6:nth-of-type(6n+1) {
  clear: both;
  margin-left: 0; }

.poppy-element-li-row ul {
  margin: 0; }

.poppy-icon-box {
  text-align: center;
  padding: 8px; }
  .poppy-icon-box div {
    text-align: center; }
  .poppy-icon-box .fa {
    color: orange; }
  .poppy-icon-box .fa.gradient {
    background: -webkit-linear-gradient(#673cf2, #1694ff);
    background: -o-linear-gradient(#673cf2, #1694ff);
    background: linear-gradient(#673cf2, #1694ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent; }
  .poppy-icon-box h3 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.9rem;
    color: #333; }
  .poppy-icon-box h4 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 2rem;
    color: #555; }

.home-news span {
  position: relative;
  top: 30px;
  left: 0;
  color: #FFF;
  background: #00f;
  padding: 4px;
  font-size: 1.6rem; }

.home-news img {
  margin-bottom: -10px;
  width: 768px;
  height: auto; }

.home-news p {
  font-size: 1.6rem;
  line-height: 1.5; }

.home-news h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  height: 6rem;
  background: #00f;
  padding: 10px;
  margin: 0;
  text-align: center; }
  .home-news h3 a {
    color: #fff;
    text-decoration: none;
    vertical-align: text-top; }
    .home-news h3 a:hover {
      color: #ccc; }

.home-news-2 li > div {
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
  box-shadow: 1px 1px 1px rgba(115, 115, 115, 0.2);
  background: #fff;
  display: block; }

.home-news-2 .label {
  display: block;
  float: left;
  border-radius: 2px;
  padding: 0px 15px 0px 15px;
  font-size: 1.3rem;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  z-index: 10;
  background: orange;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: -9px 0 0 20px;
  position: absolute; }

.home-news-2 span {
  position: relative;
  top: 29px;
  left: 0;
  color: #FFF;
  background: orange;
  padding: 4px;
  font-size: 1.5rem;
  font-size: 15px;
  overflow: hidden; }

.home-news-2 img {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 4px 4px 0px 0px;
  border-color: orange; }

.home-news-2 h3 {
  font-size: 1.8rem;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  background: #fff; }
  .home-news-2 h3 a {
    color: #333;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle; }
    .home-news-2 h3 a:hover {
      color: #ccc; }

/*
Sections v1.0
Uso:
assegnare la classe sections nel box layput delle pagine del tema in cui si vuole attivare le sezioni
---------------------------------------------------------------------------------------------------- */
.sections .site-inner {
  max-width: none;
  padding: 0; }

.sections .entry {
  padding: 0;
  margin: 0; }

.section img {
  margin: 0;
  margin-bottom: -9px; }

.section.wide {
  width: 1200px;
  margin: 0 auto; }

.section.normal {
  width: 1140px;
  margin: 0 auto; }

.section.narrow {
  width: 960px;
  margin: 0 auto; }

@media only screen and (max-width: 1340px) {
  .section.wide {
    max-width: 1140px; }
  .section.normal {
    max-width: 960px; } }

@media only screen and (max-width: 1200px) {
  .section.wide {
    max-width: 960px; }
  .section-narrow, .section.normal {
    max-width: 800px; } }

@media only screen and (max-width: 1023px) {
  .full-width .site-inner {
    padding-left: 0%;
    padding-right: 0%; }
  .section.narrow, .section.wide, .section-normal {
    max-width: 800px; } }

@media only screen and (max-width: 860px) {
  .section.narrow, .section.normal, .section.wide {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%; } }

.container.hero {
  background: url("images/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15% 0;
  position: relative; }
  .container.hero * {
    position: relative;
    z-index: 1; }
  .container.hero:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.82;
    background: #3d65ff;
    background: -moz-linear-gradient(left, #7A28FF 0%, #00A1FF 100%);
    background: -webkit-linear-gradient(left, #7A28FF 0%, #00A1FF 100%);
    background: linear-gradient(to right, #7A28FF 0%, #00A1FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a28ff', endColorstr='#00a1ff', GradientType=1); }
  .container.hero h1, .container.hero p {
    color: #FFF; }
  .container.hero h1 {
    font-size: 6.2rem; }

/*# sourceMappingURL=poppy.css.map */