/*
Poppy Framework v 1.2
Developed by Active Net
Changelog:
v1.2
* Now includes sections and parallax effect
---------------------------------------------------------------------------------------------------- */

//@import 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'; // Da attivare se il tema già non li ha caricati

$icon-color: orange !default;
$title: #333 !default;
$text: #555 !default;
$color-primary: #00f !default;
$color-light: #fff !default;
$color-dark: #333 !default;

$padding-small: 20px;
$padding-medium: 50px;
$padding-large: 100px;

@import 'mixins';
@import 'base';
@import 'sections';